<div class="head">
    <mat-toolbar class="toolbar">
        <img class="title-image" src="https://image.flaticon.com/icons/png/512/1295/1295181.png" alt="icon">
        <mat-label class="title">PenView</mat-label>
        <mat-label class="title-name">Administrador</mat-label>
        <mat-label class="title-account">{{ nameAccount }}</mat-label>
    </mat-toolbar>
</div>

<button mat-raised-button class="panel-card">
    <img class="panel-card-image" src="https://image.flaticon.com/icons/png/512/2644/2644379.png" alt="buttonName">
    <br>
    <mat-label class="title">Lista de Pensiones</mat-label>
</button>

<button mat-raised-button class="panel-card-1">
    <img class="panel-card-image" src="https://image.flaticon.com/icons/svg/162/162722.svg" alt="activities">
    <mat-label class="title">Actividades</mat-label>
</button>
