<div class="head">
    <mat-toolbar class="toolbar">
        <img class="title-image" src="https://image.flaticon.com/icons/png/512/1295/1295181.png" alt="icon">
        <mat-label class="title">PenView</mat-label>
        <mat-label class="title-name">{{namePension}}</mat-label>
        <mat-label class="title-account">{{ nameAccount }}</mat-label>
    </mat-toolbar>
</div>

<button mat-raised-button class="panel-card">
    <img class="panel-card-image" src="https://image.flaticon.com/icons/svg/2949/2949783.svg" alt="buttonName">
    <br>
    <mat-label class="title">Pensión</mat-label>
</button>

<button mat-raised-button class="panel-card-1">
    <img class="panel-card-image" src="https://image.flaticon.com/icons/svg/162/162722.svg" alt="">
    <mat-label class="title">Actividades</mat-label>
</button>

<button mat-raised-button class="panel-card-2">
    <img class="panel-card-image" src="https://image.flaticon.com/icons/svg/2890/2890776.svg" alt="">
    <mat-label class="title">Eliminar</mat-label>
</button>